h5
  | ユーザーランキング
= link_to "お気に入りされている言葉の多いユーザー", favorited_words_admin_dashboard_ranking_users_path, class: "btn btn-sm"
| &nbsp;
= link_to "お気に入りしている言葉の多いユーザー", favoriting_words_admin_dashboard_ranking_users_path, class: "btn btn-sm"
| &nbsp;
= link_to "投稿数の多いユーザー", posted_words_admin_dashboard_ranking_users_path, class: "btn btn-sm"
| &nbsp;
= link_to "フォロワー数の多いユーザー", followed_admin_dashboard_ranking_users_path, class: "btn btn-sm"
| &nbsp;
= link_to "フォロー数の多いユーザー", following_admin_dashboard_ranking_users_path, class: "btn btn-sm"
| &nbsp;

hr
