@import "../../variables";

.show-word {
  width: 82%;
  margin: 5.2vh auto 0;

  &-main {
    margin-bottom: 20px;

    &-title {
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 14px;
    }

    &-description {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &-sub {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-data {
      display: flex;
      align-items: flex-start;
      margin-bottom: 5px;
      font-size: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &-label {
        line-height: 14px;
        color: $wordSubTextColor;
      }

      &-content {
        p {
          line-height: 14px;
          color: $wordSubTextColor;
        }
      }
    }

    &-favorite {
      &.active {
        .show-word-sub-favorite-icon {
          &.favorite {
            display: block;
          }

          &.unfavorite {
            display: none;
          }
        }
      }

      &-icon {
        cursor: pointer;
        width: 30px;

        &.favorite {
          display: none;
          margin-bottom: 2px;
        }
      }
    }

    &-trash-icon {
      color: $wordTrashIconColor;
      font-size: 24px;
    }
  }
}
