ruby:
  provide :header_title, "お気に入り"
  provide :javascript_pack_path, "users/favorites/index"
  provide :return_link, request.referer

#words-list data-current-user-id=current_user.id data-user-id=@user.id
