ruby:
  provide :header_title, "フォローユーザー一覧"
  provide :javascript_pack_path, "users/follow_relations/index"
  provide :return_link, request.referer
  provide :container_type, "base"

#users-list data-user-id=@user.id
