@import "../../components/description_frame";

.description-box {
  margin: 30px auto 10px;
  font-size: 13px;
  line-height: 24px;

  .large-section-title {
    font-weight: bold;

    .large-section-description {
      font-weight: normal;
      padding-left: 15px;
    }
  }

  .medium-section-title {
    margin: 30px 0px 10px;
    font-weight: bold;

    .medium-section-description {
      font-weight: normal;
    }
  }

  .small-section-title{
    margin: 30px 0px 10px;
    font-weight: bold;

    .small-section-description{
      font-weight: normal;
    }
  }
}
