ruby:
  provide :header_title, "全ユーザーハイライト"
  provide :javascript_pack_path, "words/index_random_order"
  provide :template_stylesheet_path, "words/index_random_order"
  provide :active_nav_index, '0'
  provide :container_type, "base"

= render partial: "words/index_nav"

#words-list data-current-user-id=current_user.id
