@import "../variables";

.rule-description-frame {
  margin: 30px 0 10px;
  font-size: 13px;
  line-height: 24px;

  .one-description {
    padding-left: 15px;
  }

  .section-title {
     margin-top: 20px;
     font-weight: bold;
  }
}
