@import "../variables";

.search-form {
  position: relative;

  input.search-form-field {
    display: inline-block;
    width: 75vw;
    border-style: none;
    border-radius: 14px;
    padding: 7px 40px 7px 18px;
  }

  button.search-form-btn {
    cursor: pointer;
    font-size: 18px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 3px;
    height: 100%;
    background: inherit;
    color: $primaryColor;
  }
}
