@import "./variables";
@import "./mixins";

//**
//* ヘッダー
header.header {
  z-index: $headerZIndex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $mobileHeaderHeight;
  background: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  box-shadow: 0 4px 6px rgba($black, .1);

  h1.header-title {
    color: $white;
    text-align: center;
    font-size: 18px;
  }

  a.return-btn {
    color: $white;
    font-size: 21px;
  }
}


//**
//* ヘッダー下のナビゲーション
nav.nav {
  z-index: $navZIndex;
  position: fixed;
  top: $mobileHeaderHeight;
  left: 0;
  right: 0;
  height: $mobileNavHeight;
  background: $white;
  display: flex;
  box-shadow: 0 4px 6px rgba($black, .1);

  a.nav-link {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $navUnactiveColor;
    height: 100%;

    &.active {
      color: $secondaryColor;
    }

    .nav-link-text {
      font-size: 9px;
      margin-bottom: 2px;
      color: inherit;
    }

    i {
      font-size: 24px;
    }
  }
}


.flash {
  cursor: pointer;
  text-align: center;
  padding: 12px 0;
  color: $white;
  font-size: 14px;

  &-success {
    background: $flashSuccessColor;
  }

  &-error {
    background: $flashErrorColor;
  }
}


//**
//* template部分を囲うContainer
.container {
  margin: 0 auto;

  &-base {
    width: 90vw;
    @include mq-up() { width: 700px }
  }

  &-form {
    margin-top: 36px;
    width: 78vw;
    @include mq-up() { width: 500px }
  }
}


//**
//* Mobileで上部にFixしてるHeaderのスペースを埋める部品
.mobile-header-space {
  height: $mobileHeaderHeight;
}


//**
//* Mobileで上部にFixしてるNavのスペースを埋める部品
.mobile-nav-space {
  height: $mobileNavHeight;
}

//**
//* 投稿ボタン
a.post-new-word-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: $secondaryColor;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  box-shadow: 0 4px 8px rgba($black, .2);

  .post-new-word-btn-icon {
    position: absolute;
    color: $white;

    &.sub-icon {
      width: 15px;
      top: 9px;
      left: 9px;
      font-size: 15px;
    }

    &.main-icon {
      width: 32px;
      right: 6px;
      bottom: 6px;
    }
  }
}
