/** font-family **/
$baseFontFamily: Trebuchet MS,Arial,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ\ Ｐゴシック,MS PGothic,sans-serif;

/** 色 **/
/* 基本色 */
$black: #000000;
$white: #ffffff;

/* 特殊色 */
$baseBlack: #363636;
$primaryColor: #34B5E2;
$secondaryColor: #FAAA20;
$navUnactiveColor: #C4C4C4;
$errorColor: #FF4C2A;

/* Flashカラー */
$flashSuccessColor: $secondaryColor;
$flashErrorColor: $errorColor;

/* form色 */
$placeholderColor: #C4C4C4;
$formBorderColor: #E5E5E5;
$disabledSubmitBtnColor: #C4C4C4;

$baseHrLineColor: #C4C4C4;
$followToggleBtnColor: #C4C4C4;
$wordSubTextColor: #A0A0A0;
$wordTrashIconColor: #C4C4C4;
$confirmModalBorderColor: #E5E5E5;


/** 大きさ **/
/* 高さ */
$mobileHeaderHeight: 7.5vh;
$mobileNavHeight: 7.5vh;
$mobileMinHeaderHeight: 45px;
$mobileMinNavHeight: 45px;

/** z-index **/
$headerZIndex: 3000;
$navZIndex: 3001;
$wordChangeModeMenuZIndex: 6000;
$configureMenuZIndex: 6000;
$modalZIndex: 4000;


/** レスポンシブ **/
// 対応デバイスが複数種類になった場合は、ブレイクポイントを増やす。
$smallScreen: 768px;
$breakpoints-up: ('s': "(min-width: #{$smallScreen})");
