ruby:
  provide :header_title, "rediction利用規約"
  provide :return_link, user_mypage_path
  provide :hide_post_new_word_btn, "1"
  provide :template_stylesheet_path, "terms_of_services/show"
  provide :active_nav_index, "2"
br
h1
  | rediction利用規約
